In [3]:
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import plotly.plotly as py
from plotly import tools
from datetime import date
import pandas as pd
import numpy as np 
import plotly.figure_factory as ff

from datetime import date
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb

import matplotlib.pyplot as plt
import seaborn as sns
import random 
import warnings
import operator
warnings.filterwarnings("ignore")
init_notebook_mode(connected=True)

## Exploration of the data

In [47]:

train = pd.read_csv("../Costa_rica_poverty_prediction/costa-rican-household-poverty-prediction/train.csv", nrows = None)
test = pd.read_csv("../Costa_rica_poverty_prediction/costa-rican-household-poverty-prediction/test.csv")


#how to set wdir ??
print ("Train Dataset: Rows, Columns: ", train.shape)
print ("Test Dataset: Rows, Columns: ", test.shape)
#weird that we have bigger test set than train set

Train Dataset: Rows, Columns:  (9557, 143)
Test Dataset: Rows, Columns:  (23856, 142)

## Feature engineering

Code written by me

In [50]:
def feature_creation_function(df):
    feats_div = [('children_fraction', 'r4t1', 'r4t3'), 
                 ('working_man_fraction', 'r4h2', 'r4t3'),
                 ('all_man_fraction', 'r4h3', 'r4t3'),
                 ('human_density', 'tamviv', 'rooms'),
                 ('human_bed_density', 'tamviv', 'bedrooms'),
                 ('bed_density', 'bedrooms', 'rooms'),
                 ('rent_per_person', 'v2a1', 'r4t3'),
                 ('rent_per_room', 'v2a1', 'rooms'),
                 ('mobile_density', 'qmobilephone', 'r4t3'),
                 ('tablet_density', 'v18q1', 'r4t3'),
                 ('mobile_adult_density', 'qmobilephone', 'r4t2'),
                 ('tablet_adult_density', 'v18q1', 'r4t2'),
                 ('male_over_female', 'r4h3', 'r4m3'),
                 ('man12plus_over_women12plus', 'r4h2', 'r4m2'),
                 ('pesioner_over_working', 'hogar_mayor', 'hogar_adul'),
                 ('children_over_working', 'hogar_nin', 'hogar_adul'),
                 ('education_fraction', 'escolari', 'age')
                 #('', '', ''),
                ]
    
    feats_sub = [('people_not_living', 'tamhog', 'tamviv'),
                 ('non_bedrooms', 'rooms', 'bedrooms'),
                 ('people_weird_stat', 'tamhog', 'r4t3')]

    for f_new, f1, f2 in feats_div:
        df['fe_' + f_new] = (df[f1] / df[f2]).astype(np.float32)       
    for f_new, f1, f2 in feats_sub:
        df['fe_' + f_new] = (df[f1] - df[f2]).astype(np.float32)

In [51]:
#uses do_features

def preprocess(df): #reencode idhogar
    # encode the idhogar - houshold level identifier
    df['idhogar'] = LabelEncoder().fit_transform(df['idhogar'])
    # create aggregate features
    return feature_creation_function(df)

def var_drop(df): #drop sqrared var, ID, and hhsize, female and area 2 - feature already existing in other instnces
    # Drop all square variable 
    df.drop([var for var in df.columns if var.startswith('SQB') or var == 'agesq'], axis=1, inplace=True)
    # Drop id's
    df.drop(['Id'], axis=1, inplace=True)
    # Drop repeated columns
    df.drop(['hhsize', 'female', 'area2'], axis=1, inplace=True)
    return df

### data preprocessing

In [73]:
#mapping yes/no to float values
def yes_no_issue_solver(df):
    df['dependency'] = df['dependency'].replace({"yes": 1, "no": 0}).astype(np.float64)
    df['edjefe'] = df['edjefe'].replace({"yes": 1, "no": 0}).astype(np.float64)
    df['edjefa'] = df['edjefa'].replace({"yes": 1, "no": 0}).astype(np.float64)

In [85]:
def recoding_ordinal(df):  #create ordinal variable instead of OHE   
    df['walls'] = np.argmax(np.array(df[['epared1', 'epared2', 'epared3']]), axis = 1) #Get quality indexes
    df['roof'] = np.argmax(np.array(df[['etecho1', 'etecho2', 'etecho3']]), axis = 1)
    df['floor'] = np.argmax(np.array(df[['eviv1', 'eviv2', 'eviv3']]), axis = 1)
    
    power =[]
    for i, row in df.iterrows():
        if row['noelec'] == 1:
            power.append(0)
        elif row['coopele'] == 1:
            power.append(1)
        elif row['public'] == 1:
            power.append(2)
        elif row['planpri'] == 1:
            power.append(3)
        else:
            power.append(np.nan)
            
    df['power'] = power
    df['power-missing'] = data['power'].isnull()
          
            
#column to drop : 'noelec', 'coopele', 'public', 'planpri', 'epared1', 'epared2', 'epared3', 'etecho1', 'etecho2', 'etecho3', 'eviv1', 'eviv2', 'eviv3'            
# data = data.drop(columns = ['etecho1', 'etecho2', 'etecho3'])

In [79]:
# Difference between people living in house and household size
train['hhsize-diff'] = train['tamviv'] - train['hhsize']

elec = []
# Assign values
for i, row in data.iterrows():
    if row['noelec'] == 1:
        elec.append(0)
    elif row['coopele'] == 1:
        elec.append(1)
    elif row['public'] == 1:
        elec.append(2)
    elif row['planpri'] == 1:
        elec.append(3)
    else:
        elec.append(np.nan)

NameError: name 'data' is not defined

In [68]:
train.drop([train for train in train.columns if train.startswith('SQB') or train == 'agesq'], axis = 1)

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,fe_mobile_adult_density,fe_tablet_adult_density,fe_male_over_female,fe_man12plus_over_women12plus,fe_pesioner_over_working,fe_children_over_working,fe_education_fraction,fe_people_not_living,fe_non_bedrooms,fe_people_weird_stat
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,1.000000,NaN,inf,inf,0.000000,0.000000,0.232558,0.0,2.0,0.0
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,1.000000,1.000000,inf,inf,1.000000,0.000000,0.179104,0.0,3.0,0.0
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,0.000000,NaN,0.000000,0.000000,1.000000,0.000000,0.119565,0.0,6.0,0.0
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,1.000000,0.333333,1.000000,2.000000,0.000000,1.000000,0.529412,0.0,2.0,0.0
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,1.000000,0.333333,1.000000,2.000000,0.000000,1.000000,0.297297,0.0,2.0,0.0
5,ID_ec05b1a7b,180000.0,0,5,0,1,1,1,1.0,0,...,1.000000,0.333333,1.000000,2.000000,0.000000,1.000000,0.289474,0.0,2.0,0.0
6,ID_e9e0c1100,180000.0,0,5,0,1,1,1,1.0,0,...,1.000000,0.333333,1.000000,2.000000,0.000000,1.000000,0.250000,0.0,2.0,0.0
7,ID_3e04e571e,130000.0,1,2,0,1,1,0,NaN,0,...,0.500000,NaN,0.333333,1.000000,0.000000,1.000000,0.000000,0.0,1.0,0.0
8,ID_1284f8aad,130000.0,1,2,0,1,1,0,NaN,0,...,0.500000,NaN,0.333333,1.000000,0.000000,1.000000,0.300000,0.0,1.0,0.0
9,ID_51f52fdd2,130000.0,1,2,0,1,1,0,NaN,0,...,0.500000,NaN,0.333333,1.000000,0.000000,1.000000,0.392857,0.0,1.0,0.0
10,ID_db44f5c59,130000.0,1,2,0,1,1,0,NaN,0,...,0.500000,NaN,0.333333,1.000000,0.000000,1.000000,0.272727,0.0,1.0,0.0
11,ID_de822510c,100000.0,0,3,0,1,1,0,NaN,0,...,0.500000,NaN,0.000000,0.000000,0.000000,1.000000,0.666667,0.0,1.0,0.0
12,ID_d94071d7c,100000.0,0,3,0,1,1,0,NaN,0,...,0.500000,NaN,0.000000,0.000000,0.000000,1.000000,0.323529,0.0,1.0,0.0
13,ID_064b57869,NaN,0,4,0,1,1,1,1.0,0,...,0.500000,0.500000,1.000000,1.000000,0.500000,0.000000,0.050633,0.0,2.0,0.0
14,ID_5c837d8a4,NaN,0,4,0,1,1,1,1.0,0,...,0.500000,0.500000,1.000000,1.000000,0.500000,0.000000,0.384615,0.0,2.0,0.0
15,ID_0a39e419e,90000.0,1,2,0,1,1,0,NaN,0,...,0.250000,NaN,1.000000,1.000000,0.500000,1.000000,0.578947,0.0,1.0,0.0
16,ID_4ff51f90c,90000.0,1,2,0,1,1,0,NaN,0,...,0.250000,NaN,1.000000,1.000000,0.500000,1.000000,0.028571,0.0,1.0,0.0
17,ID_336c51386,90000.0,1,2,0,1,1,0,NaN,0,...,0.250000,NaN,1.000000,1.000000,0.500000,1.000000,0.578947,0.0,1.0,0.0
18,ID_c51938edf,90000.0,1,2,0,1,1,0,NaN,0,...,0.250000,NaN,1.000000,1.000000,0.500000,1.000000,0.200000,0.0,1.0,0.0
19,ID_35b66f7c6,215000.0,0,4,0,1,1,0,NaN,0,...,1.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.545455,0.0,2.0,0.0
20,ID_74a2bc523,215000.0,0,4,0,1,1,0,NaN,0,...,1.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.576923,0.0,2.0,0.0
21,ID_15d393ce7,150000.0,0,3,0,1,1,0,NaN,0,...,0.500000,NaN,1.000000,1.000000,1.000000,0.000000,0.057971,0.0,2.0,0.0
22,ID_a0bff0ba7,150000.0,0,3,0,1,1,0,NaN,0,...,0.500000,NaN,1.000000,1.000000,1.000000,0.000000,0.242424,0.0,2.0,0.0
23,ID_848b0fdf1,100000.0,1,1,1,0,1,0,NaN,0,...,1.000000,NaN,2.000000,2.000000,0.000000,0.000000,0.146341,0.0,0.0,0.0
24,ID_298d857e5,100000.0,1,1,1,0,1,0,NaN,0,...,1.000000,NaN,2.000000,2.000000,0.000000,0.000000,0.650000,0.0,0.0,0.0
25,ID_1d5bf8ddf,100000.0,1,1,1,0,1,0,NaN,0,...,1.000000,NaN,2.000000,2.000000,0.000000,0.000000,0.300000,0.0,0.0,0.0
26,ID_e5cdba865,NaN,0,5,0,1,1,0,NaN,0,...,2.000000,NaN,inf,inf,0.000000,0.000000,0.340909,0.0,3.0,0.0
27,ID_e18530139,120000.0,0,4,0,1,1,1,1.0,0,...,1.000000,0.333333,2.000000,2.000000,0.333333,0.000000,0.086957,0.0,2.0,0.0
28,ID_cba035c44,120000.0,0,4,0,1,1,1,1.0,0,...,1.000000,0.333333,2.000000,2.000000,0.333333,0.000000,0.096774,0.0,2.0,0.0
29,ID_b6c1c7e65,120000.0,0,4,0,1,1,1,1.0,0,...,1.000000,0.333333,2.000000,2.000000,0.333333,0.000000,0.242424,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527,ID_92b30d94b,NaN,0,5,0,1,1,0,NaN,2,...,1.000000,NaN,3.000000,1.000000,0.000000,1.000000,0.000000,0.0,3.0,0.0
9528,ID_6309f1595,45000.0,0,3,0,1,0,0,NaN,0,...,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.516129,0.0,2.0,0.0
9529,ID_f8b8c7703,NaN,0,1,0,1,1,0,NaN,0,...,1.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.130435,0.0,0.0,0.0
9530,ID_7226bda20,NaN,0,1,0,1,1,0,NaN,0,...,1.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.115385,0.0,0.0,0.0
9531,ID_10da2c3cb,70000.0,0,4,0,1,1,0,NaN,0,...,1.000000,NaN,2.000000,2.000000,0.000000,0.500000,0.092593,0.0,2.0,0.0
9532,ID_503cfc817,70000.0,0,4,0,1,1,0,NaN,0,...,1.000000,NaN,2.000000,2.000000,0.000000,0.500000,0.133333,0.0,2.0,0.0
9533,ID_5384717d3,70000.0,0,4,0,1,1,0,NaN,0,...,1.000000,NaN,2.000000,2.000000,0.000000,0.500000,0.588235,0.0,2.0,0.0
9534,ID_8d3963fff,NaN,0,7,0,1,1,0,NaN,0,...,1.000000,NaN,inf,inf,1.000000,0.000000,0.054054,0.0,4.0,0.0
9535,ID_18b0a845b,NaN,0,4,0,1,0,0,NaN,1,...,1.000000,NaN,0.666667,1.000000,0.000000,1.500000,0.192308,0.0,2.0,0.0
9536,ID_d20bd7576,NaN,0,4,0,1,0,0,NaN,1,...,1.000000,NaN,0.666667,1.000000,0.000000,1.500000,0.000000,0.0,2.0,0.0
9537,ID_cca751e53,NaN,0,4,0,1,0,0,NaN,1,...,1.000000,NaN,0.666667,1.000000,0.000000,1.500000,0.137931,0.0,2.0,0.0
9538,ID_bfbb06d62,NaN,0,4,0,1,0,0,NaN,1,...,1.000000,NaN,0.666667,1.000000,0.000000,1.500000,0.000000,0.0,2.0,0.0
9539,ID_e20c78904,NaN,0,4,0,1,0,0,NaN,1,...,1.000000,NaN,0.666667,1.000000,0.000000,1.500000,0.000000,0.0,2.0,0.0
9540,ID_e01b00c7e,NaN,0,3,0,0,0,0,NaN,2,...,0.666667,NaN,4.000000,2.000000,0.000000,1.500000,0.000000,0.0,1.0,0.0
9541,ID_a31274054,NaN,0,3,0,0,0,0,NaN,2,...,0.666667,NaN,4.000000,2.000000,0.000000,1.500000,0.050000,0.0,1.0,0.0
9542,ID_fc386a944,NaN,0,3,0,0,0,0,NaN,2,...,0.666667,NaN,4.000000,2.000000,0.000000,1.500000,0.300000,0.0,1.0,0.0
9543,ID_2f8268634,NaN,0,3,0,0,0,0,NaN,2,...,0.666667,NaN,4.000000,2.000000,0.000000,1.500000,0.461538,0.0,1.0,0.0
9544,ID_4c180d79f,NaN,0,3,0,0,0,0,NaN,2,...,0.666667,NaN,4.000000,2.000000,0.000000,1.500000,0.181818,0.0,1.0,0.0
9545,ID_32a00a8bf,46500.0,0,5,0,1,1,0,NaN,1,...,0.750000,NaN,1.500000,1.000000,0.000000,0.666667,0.044444,-2.0,2.0,0.0
9546,ID_1dfb12fcf,46500.0,0,5,0,1,1,0,NaN,1,...,0.750000,NaN,1.500000,1.000000,0.000000,0.666667,0.130435,-2.0,2.0,0.0
9547,ID_198be48d1,46500.0,0,5,0,1,1,0,NaN,1,...,0.750000,NaN,1.500000,1.000000,0.000000,0.666667,0.478261,-2.0,2.0,0.0
9548,ID_9df63c33e,46500.0,0,5,0,1,1,0,NaN,1,...,0.750000,NaN,1.500000,1.000000,0.000000,0.666667,0.611111,-2.0,2.0,0.0
9549,ID_aacac04a2,46500.0,0,5,0,1,1,0,NaN,1,...,0.750000,NaN,1.500000,1.000000,0.000000,0.666667,0.000000,-2.0,2.0,0.0
9550,ID_90a399a51,NaN,0,3,0,1,1,0,NaN,0,...,1.000000,NaN,1.000000,1.000000,0.500000,0.000000,0.098361,0.0,2.0,0.0
9551,ID_79d39dddc,NaN,0,3,0,1,1,0,NaN,0,...,1.000000,NaN,1.000000,1.000000,0.500000,0.000000,0.000000,0.0,2.0,0.0
9552,ID_d45ae367d,80000.0,0,6,0,1,1,0,NaN,0,...,0.750000,NaN,0.666667,1.000000,0.000000,0.250000,0.195652,0.0,2.0,0.0
9553,ID_c94744e07,80000.0,0,6,0,1,1,0,NaN,0,...,0.750000,NaN,0.666667,1.000000,0.000000,0.250000,0.000000,0.0,2.0,0.0
9554,ID_85fc658f8,80000.0,0,6,0,1,1,0,NaN,0,...,0.750000,NaN,0.666667,1.000000,0.000000,0.250000,0.100000,0.0,2.0,0.0
9555,ID_ced540c61,80000.0,0,6,0,1,1,0,NaN,0,...,0.750000,NaN,0.666667,1.000000,0.000000,0.250000,0.423077,0.0,2.0,0.0
9556,ID_a38c64491,80000.0,0,6,0,1,1,0,NaN,0,...,0.750000,NaN,0.666667,1.000000,0.000000,0.250000,0.380952,0.0,2.0,0.0

In [52]:
list(preprocess(train))

['Id',
 'v2a1',
 'hacdor',
 'rooms',
 'hacapo',
 'v14a',
 'refrig',
 'v18q',
 'v18q1',
 'r4h1',
 'r4h2',
 'r4h3',
 'r4m1',
 'r4m2',
 'r4m3',
 'r4t1',
 'r4t2',
 'r4t3',
 'tamhog',
 'tamviv',
 'escolari',
 'rez_esc',
 'hhsize',
 'paredblolad',
 'paredzocalo',
 'paredpreb',
 'pareddes',
 'paredmad',
 'paredzinc',
 'paredfibras',
 'paredother',
 'pisomoscer',
 'pisocemento',
 'pisoother',
 'pisonatur',
 'pisonotiene',
 'pisomadera',
 'techozinc',
 'techoentrepiso',
 'techocane',
 'techootro',
 'cielorazo',
 'abastaguadentro',
 'abastaguafuera',
 'abastaguano',
 'public',
 'planpri',
 'noelec',
 'coopele',
 'sanitario1',
 'sanitario2',
 'sanitario3',
 'sanitario5',
 'sanitario6',
 'energcocinar1',
 'energcocinar2',
 'energcocinar3',
 'energcocinar4',
 'elimbasu1',
 'elimbasu2',
 'elimbasu3',
 'elimbasu4',
 'elimbasu5',
 'elimbasu6',
 'epared1',
 'epared2',
 'epared3',
 'etecho1',
 'etecho2',
 'etecho3',
 'eviv1',
 'eviv2',
 'eviv3',
 'dis',
 'male',
 'female',
 'estadocivil1',
 'estadocivil2',
 'estadocivil3',
 'estadocivil4',
 'estadocivil5',
 'estadocivil6',
 'estadocivil7',
 'parentesco1',
 'parentesco2',
 'parentesco3',
 'parentesco4',
 'parentesco5',
 'parentesco6',
 'parentesco7',
 'parentesco8',
 'parentesco9',
 'parentesco10',
 'parentesco11',
 'parentesco12',
 'idhogar',
 'hogar_nin',
 'hogar_adul',
 'hogar_mayor',
 'hogar_total',
 'dependency',
 'edjefe',
 'edjefa',
 'meaneduc',
 'instlevel1',
 'instlevel2',
 'instlevel3',
 'instlevel4',
 'instlevel5',
 'instlevel6',
 'instlevel7',
 'instlevel8',
 'instlevel9',
 'bedrooms',
 'overcrowding',
 'tipovivi1',
 'tipovivi2',
 'tipovivi3',
 'tipovivi4',
 'tipovivi5',
 'computer',
 'television',
 'mobilephone',
 'qmobilephone',
 'lugar1',
 'lugar2',
 'lugar3',
 'lugar4',
 'lugar5',
 'lugar6',
 'area1',
 'area2',
 'age',
 'SQBescolari',
 'SQBage',
 'SQBhogar_total',
 'SQBedjefe',
 'SQBhogar_nin',
 'SQBovercrowding',
 'SQBdependency',
 'SQBmeaned',
 'agesq',
 'Target',
 'fe_children_fraction',
 'fe_working_man_fraction',
 'fe_all_man_fraction',
 'fe_human_density',
 'fe_human_bed_density',
 'fe_bed_density',
 'fe_rent_per_person',
 'fe_rent_per_room',
 'fe_mobile_density',
 'fe_tablet_density',
 'fe_mobile_adult_density',
 'fe_tablet_adult_density',
 'fe_male_over_female',
 'fe_man12plus_over_women12plus',
 'fe_pesioner_over_working',
 'fe_children_over_working',
 'fe_education_fraction',
 'fe_people_not_living',
 'fe_non_bedrooms',
 'fe_people_weird_stat']

Lets go step by step to have decent features

In [ ]:
# plot feature importance for sklearn decision trees    
def feature_importance(forest, X_train, display_results=True):
    ranked_list = []
    zero_features = []
    
    importances = forest.feature_importances_

    indices = np.argsort(importances)[::-1]
    
    if display_results:
        # Print the feature ranking
        print("Feature ranking:")

    for f in range(X_train.shape[1]):
        if display_results:
            print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]) + " - " + X_train.columns[indices[f]])
        
        ranked_list.append(X_train.columns[indices[f]])
        
        if importances[indices[f]] == 0.0:
            zero_features.append(X_train.columns[indices[f]])
            
    return ranked_list, zero_features

In [32]:
def do_features(df):
    feats_div = [('children_fraction', 'r4t1', 'r4t3'), 
                 ('working_man_fraction', 'r4h2', 'r4t3'),
                 ('all_man_fraction', 'r4h3', 'r4t3'),
                 ('human_density', 'tamviv', 'rooms'),
                 ('human_bed_density', 'tamviv', 'bedrooms'),
                 ('bed_density', 'bedrooms', 'rooms'),
                 ('rent_per_person', 'v2a1', 'r4t3'),
                 ('rent_per_room', 'v2a1', 'rooms'),
                 ('mobile_density', 'qmobilephone', 'r4t3'),
                 ('tablet_density', 'v18q1', 'r4t3'),
                 ('mobile_adult_density', 'qmobilephone', 'r4t2'),
                 ('tablet_adult_density', 'v18q1', 'r4t2'),
                 ('male_over_female', 'r4h3', 'r4m3'),
                 ('man12plus_over_women12plus', 'r4h2', 'r4m2'),
                 ('pesioner_over_working', 'hogar_mayor', 'hogar_adul'),
                 ('children_over_working', 'hogar_nin', 'hogar_adul'),
                 ('education_fraction', 'escolari', 'age')
                 #('', '', ''),
                ]
    
    feats_sub = [('people_not_living', 'tamhog', 'tamviv'),
                 ('non_bedrooms', 'rooms', 'bedrooms'),
                 ('people_weird_stat', 'tamhog', 'r4t3')]

    for f_new, f1, f2 in feats_div:
        df['fe_' + f_new] = (df[f1] / df[f2]).astype(np.float32)       
    for f_new, f1, f2 in feats_sub:
        df['fe_' + f_new] = (df[f1] - df[f2]).astype(np.float32)
    
    # aggregation rules over household
    aggs_num = {'age': ['min', 'max', 'mean', 'count'],
                'escolari': ['min', 'max', 'mean', 'std'],
                'fe_education_fraction': ['min', 'max', 'mean', 'std']
               }
    aggs_cat = {'dis': ['mean']}
    for s_ in ['estadocivil', 'parentesco', 'instlevel']:
        for f_ in [f_ for f_ in df.columns if f_.startswith(s_)]:
            aggs_cat[f_] = ['mean']
    # aggregation over household
    for name_, df_ in [('18', df.query('age >= 18'))]:
        df_agg = df_.groupby('idhogar').agg({**aggs_num, **aggs_cat}).astype(np.float32)
        df_agg.columns = pd.Index(['agg' + name_ + '_' + e[0] + "_" + e[1].upper() for e in df_agg.columns.tolist()])
        df = df.join(df_agg, how='left', on='idhogar')
        del df_agg
    # do something advanced above...
    
    # Drop SQB variables, as they are just squres of other vars 
    df.drop([f_ for f_ in df.columns if f_.startswith('SQB') or f_ == 'agesq'], axis=1, inplace=True)
    # Drop id's
    df.drop(['Id'], axis=1, inplace=True)
    # Drop repeated columns
    df.drop(['hhsize', 'female', 'area2'], axis=1, inplace=True)
    return df

In [11]:
def encode_data(df):
    '''
    The function does not return, but transforms the input pd.DataFrame
    
    Encodes the Costa Rican Household Poverty Level data 
    following https://www.kaggle.com/c/costa-rican-household-poverty-prediction/discussion/61403#359631
    
    '''
    
    yes_no_map = {'no': 0, 'yes': 1}
    
    df['dependency'] = df['dependency'].replace(yes_no_map).astype(np.float32)
    
    df['edjefe'] = df['edjefe'].replace(yes_no_map).astype(np.float32)
    df['edjefa'] = df['edjefa'].replace(yes_no_map).astype(np.float32)
    
    df['idhogar'] = LabelEncoder().fit_transform(df['idhogar'])

In [13]:
def convert_OHE2LE(df):
    tmp_df = df.copy(deep=True)
    for s_ in ['pared', 'piso', 'techo', 'abastagua', 'sanitario', 'energcocinar', 'elimbasu', 
               'epared', 'etecho', 'eviv', 'estadocivil', 'parentesco', 
               'instlevel', 'lugar', 'tipovivi',
               'manual_elec']:
        if 'manual_' not in s_:
            cols_s_ = [f_ for f_ in df.columns if f_.startswith(s_)]
        elif 'elec' in s_:
            cols_s_ = ['public', 'planpri', 'noelec', 'coopele']
        sum_ohe = tmp_df[cols_s_].sum(axis=1).unique()
        #deal with those OHE, where there is a sum over columns == 0
        if 0 in sum_ohe:
            print('The OHE in {} is incomplete. A new column will be added before label encoding'
                  .format(s_))
            # dummy colmn name to be added
            col_dummy = s_+'_dummy'
            # add the column to the dataframe
            tmp_df[col_dummy] = (tmp_df[cols_s_].sum(axis=1) == 0).astype(np.int8)
            # add the name to the list of columns to be label-encoded
            cols_s_.append(col_dummy)
            # proof-check, that now the category is complete
            sum_ohe = tmp_df[cols_s_].sum(axis=1).unique()
            if 0 in sum_ohe:
                 print("The category completion did not work")
        tmp_cat = tmp_df[cols_s_].idxmax(axis=1)
        tmp_df[s_ + '_LE'] = LabelEncoder().fit_transform(tmp_cat).astype(np.int16)
        if 'parentesco1' in cols_s_:
            cols_s_.remove('parentesco1')
        tmp_df.drop(cols_s_, axis=1, inplace=True)
    return tmp_df

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

In [22]:
def process_df(df_):
    # fix categorical features
    encode_data(df_)
    #fill in missing values based on https://www.kaggle.com/mlisovyi/missing-values-in-the-data
    for f_ in ['v2a1', 'v18q1', 'meaneduc', 'SQBmeaned']:
        df_[f_] = df_[f_].fillna(0)
    df_['rez_esc'] = df_['rez_esc'].fillna(-1)
    # do feature engineering and drop useless columns
    return do_features(df_)

train = process_df(train)
test = process_df(test)

In [23]:
train.head()

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,r4h2,...,agg18_parentesco12_MEAN,agg18_instlevel1_MEAN,agg18_instlevel2_MEAN,agg18_instlevel3_MEAN,agg18_instlevel4_MEAN,agg18_instlevel5_MEAN,agg18_instlevel6_MEAN,agg18_instlevel7_MEAN,agg18_instlevel8_MEAN,agg18_instlevel9_MEAN
0,190000.0,0,3,0,1,1,0,0.0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,135000.0,0,4,0,1,1,1,1.0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0,8,0,1,1,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,180000.0,0,5,0,1,1,1,1.0,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,180000.0,0,5,0,1,1,1,1.0,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [25]:
list(train)

['v2a1',
 'hacdor',
 'rooms',
 'hacapo',
 'v14a',
 'refrig',
 'v18q',
 'v18q1',
 'r4h1',
 'r4h2',
 'r4h3',
 'r4m1',
 'r4m2',
 'r4m3',
 'r4t1',
 'r4t2',
 'r4t3',
 'tamhog',
 'tamviv',
 'escolari',
 'rez_esc',
 'paredblolad',
 'paredzocalo',
 'paredpreb',
 'pareddes',
 'paredmad',
 'paredzinc',
 'paredfibras',
 'paredother',
 'pisomoscer',
 'pisocemento',
 'pisoother',
 'pisonatur',
 'pisonotiene',
 'pisomadera',
 'techozinc',
 'techoentrepiso',
 'techocane',
 'techootro',
 'cielorazo',
 'abastaguadentro',
 'abastaguafuera',
 'abastaguano',
 'public',
 'planpri',
 'noelec',
 'coopele',
 'sanitario1',
 'sanitario2',
 'sanitario3',
 'sanitario5',
 'sanitario6',
 'energcocinar1',
 'energcocinar2',
 'energcocinar3',
 'energcocinar4',
 'elimbasu1',
 'elimbasu2',
 'elimbasu3',
 'elimbasu4',
 'elimbasu5',
 'elimbasu6',
 'epared1',
 'epared2',
 'epared3',
 'etecho1',
 'etecho2',
 'etecho3',
 'eviv1',
 'eviv2',
 'eviv3',
 'dis',
 'male',
 'estadocivil1',
 'estadocivil2',
 'estadocivil3',
 'estadocivil4',
 'estadocivil5',
 'estadocivil6',
 'estadocivil7',
 'parentesco1',
 'parentesco2',
 'parentesco3',
 'parentesco4',
 'parentesco5',
 'parentesco6',
 'parentesco7',
 'parentesco8',
 'parentesco9',
 'parentesco10',
 'parentesco11',
 'parentesco12',
 'idhogar',
 'hogar_nin',
 'hogar_adul',
 'hogar_mayor',
 'hogar_total',
 'dependency',
 'edjefe',
 'edjefa',
 'meaneduc',
 'instlevel1',
 'instlevel2',
 'instlevel3',
 'instlevel4',
 'instlevel5',
 'instlevel6',
 'instlevel7',
 'instlevel8',
 'instlevel9',
 'bedrooms',
 'overcrowding',
 'tipovivi1',
 'tipovivi2',
 'tipovivi3',
 'tipovivi4',
 'tipovivi5',
 'computer',
 'television',
 'mobilephone',
 'qmobilephone',
 'lugar1',
 'lugar2',
 'lugar3',
 'lugar4',
 'lugar5',
 'lugar6',
 'area1',
 'age',
 'Target',
 'fe_children_fraction',
 'fe_working_man_fraction',
 'fe_all_man_fraction',
 'fe_human_density',
 'fe_human_bed_density',
 'fe_bed_density',
 'fe_rent_per_person',
 'fe_rent_per_room',
 'fe_mobile_density',
 'fe_tablet_density',
 'fe_mobile_adult_density',
 'fe_tablet_adult_density',
 'fe_male_over_female',
 'fe_man12plus_over_women12plus',
 'fe_pesioner_over_working',
 'fe_children_over_working',
 'fe_education_fraction',
 'fe_people_not_living',
 'fe_non_bedrooms',
 'fe_people_weird_stat',
 'agg18_age_MIN',
 'agg18_age_MAX',
 'agg18_age_MEAN',
 'agg18_age_COUNT',
 'agg18_escolari_MIN',
 'agg18_escolari_MAX',
 'agg18_escolari_MEAN',
 'agg18_escolari_STD',
 'agg18_fe_education_fraction_MIN',
 'agg18_fe_education_fraction_MAX',
 'agg18_fe_education_fraction_MEAN',
 'agg18_fe_education_fraction_STD',
 'agg18_dis_MEAN',
 'agg18_estadocivil1_MEAN',
 'agg18_estadocivil2_MEAN',
 'agg18_estadocivil3_MEAN',
 'agg18_estadocivil4_MEAN',
 'agg18_estadocivil5_MEAN',
 'agg18_estadocivil6_MEAN',
 'agg18_estadocivil7_MEAN',
 'agg18_parentesco1_MEAN',
 'agg18_parentesco2_MEAN',
 'agg18_parentesco3_MEAN',
 'agg18_parentesco4_MEAN',
 'agg18_parentesco5_MEAN',
 'agg18_parentesco6_MEAN',
 'agg18_parentesco7_MEAN',
 'agg18_parentesco8_MEAN',
 'agg18_parentesco9_MEAN',
 'agg18_parentesco10_MEAN',
 'agg18_parentesco11_MEAN',
 'agg18_parentesco12_MEAN',
 'agg18_instlevel1_MEAN',
 'agg18_instlevel2_MEAN',
 'agg18_instlevel3_MEAN',
 'agg18_instlevel4_MEAN',
 'agg18_instlevel5_MEAN',
 'agg18_instlevel6_MEAN',
 'agg18_instlevel7_MEAN',
 'agg18_instlevel8_MEAN',
 'agg18_instlevel9_MEAN']

In [28]:
def train_test_apply_func(train_, test_, func_):
    test_['Target'] = 0
    xx = pd.concat([train_, test_])

    xx_func = func_(xx)
    train_ = xx_func.iloc[:train_.shape[0], :]
    test_  = xx_func.iloc[train_.shape[0]:, :].drop('Target', axis=1)

    del xx, xx_func
    return train_, test_

In [29]:
train, test = train_test_apply_func(train, test, convert_OHE2LE)

The OHE in techo is incomplete. A new column will be added before label encoding
The OHE in instlevel is incomplete. A new column will be added before label encoding
The OHE in manual_elec is incomplete. A new column will be added before label encoding

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9557 entries, 0 to 9556
Columns: 120 entries, Target to manual_elec_LE
dtypes: float32(64), float64(5), int16(16), int64(35)
memory usage: 5.6 MB

In [31]:
cols_2_ohe = ['eviv_LE', 'etecho_LE', 'epared_LE', 'elimbasu_LE', 
              'energcocinar_LE', 'sanitario_LE', 'manual_elec_LE',
              'pared_LE']
cols_nums = ['age', 'meaneduc', 'dependency', 
             'hogar_nin', 'hogar_adul', 'hogar_mayor', 'hogar_total',
             'bedrooms', 'overcrowding']

def convert_geo2aggs(df_):
    tmp_df = pd.concat([df_[(['lugar_LE', 'idhogar']+cols_nums)],
                        pd.get_dummies(df_[cols_2_ohe], 
                                       columns=cols_2_ohe)],axis=1)
    geo_agg = tmp_df.groupby(['lugar_LE','idhogar']).mean().groupby('lugar_LE').mean().astype(np.float32)
    geo_agg.columns = pd.Index(['geo_' + e + '_MEAN' for e in geo_agg.columns.tolist()])
    
    del tmp_df
    return df_.join(geo_agg, how='left', on='lugar_LE')

train, test = train_test_apply_func(train, test, convert_geo2aggs)